@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding-bottom: 35px;
}

.card-img-top {
  width: 150px;
}

.glow {
  font-size: 60px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.header {
  height: 100vh;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  /* background-color: #2D3773;
  background-position: center;
  background-image: url("../assets/images/galaxies.jpg");
  background-size: cover;
  background-position: center; */
}  

body {
  background-color: #2D3773;
  background-color: #2D3773;
  background-position: center;
  background-image: url("../assets/images/galaxies.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 25px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  font-family: 'Orbitron', sans-serif;
}

.blockquote {
  font-family: 'Marck Script', cursive;
  color: white;
  font-size: 25px;
  text-align: right;
  letter-spacing: 3px;
}

.search {
  height: 50px;
  padding: 10px;
  border-radius: 25px;
}

.search-btn {
  height: 50px;
  border-radius: 50%;
  width: 55px;
  background-color:#8887A6;
  border: none;
}
i {
  padding-top: 7px;
}

#ingredientsSearchButton {
  margin-left: 15px
}

.search-btn:hover{
  font-size: 40px;
  background-image: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes search-btn {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#resultsBody {
  color: white;
  display: none;
}

/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 2fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  } */

.card {
  letter-spacing: 2px;
  font-family: 'Orbitron', sans-serif;
  align-items: center;
  float: left;
  border: 2px solid #2d377385;
  border-radius: 4px;
  padding: .5rem;
  background-color: #2d37737e;
  height: 350px;
}

#drinkAndInfo {
  background-color: #2d377385;
}